@import url('./assets/fonts/OleoScriptSwashCaps-Regular.ttf');
@import url('./assets/fonts/RobotoSlab-VariableFont_wght.ttf');
* {
    padding: 0;
    margin: 0;
}


/* img {
    transition: .5s;
    margin-left: 5%;
    margin-top: 3%;
} */

img:hover {
    cursor: pointer;
}

body {
    background: linear-gradient(to bottom right, #FDC639, #FF7C60);
    background-repeat: no-repeat;
    height: 100vh;
}

#container_home {
    background-image: url('../img/classroom-2787754.jpg');
    height: 100vh;
}

.bg-waves {
    background-image: url('/assets/img/WAVES.svg');
}

#container_etudiant {
    background-image: url('../img/children-876543.jpg');
    color: white;
}

label {
    font-weight: bold;
    font-size: 17px;
}

.bg-image {
    background: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-transparant {
    background: rgba(255, 255, 255, 0.7);
    /* border: 1px solid black; */
}

.hover:hover {
    letter-spacing: 3px;
    transition: 0.75s;
}